.diceSelection-container-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: -0.1em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.formControl {
  width: 100%;
}

.select-dice {
  width: 100%;
}

.multi-switch {
  margin-top: 10px;
  margin-left: 0.5em;
}

.dice-number {
  margin-top: 1em;
}

.dice-number-input {
  width: 100%;
}
