.card-container {
  width: 7.5em;
  border: solid 1px lightblue;
  background-color: aliceblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em;
  padding-top: 1em;
  background-color: rgb(56, 44, 67);
  color: antiquewhite;
  height: 100%;
}

.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-content p {
  margin: 0.2em;
  font-size: 3em;
  font-weight: bold;
}

.card-action {
  margin-bottom: 0.5em;
}
