.card-container {
  width: 7em;
  border: solid 1px lightblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em;
  color: antiquewhite;
}

.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-content p {
  font-size: 3em;
  font-weight: bold;
}

.card-action {
  margin-bottom: 0.5em;
}
